/**
Global
 */

.py-4 {
    margin-top: 50px;
}

.containerLg {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.socials-buttons {
    text-align: center;
}

.btn-social {
    width: 45px;
    padding: 10px 0;
    color: white;
    margin: 15px;
}

.btn-social:hover {
    color: white;
}

.btn-facebook {
    background-color: #4468b0;
}

.btn-twitter {
    background-color: #2aa3ef;
}

.btn-google-plus{
    background-color: #db4c3f;
}

.modal-header {
    flex-direction: row-reverse !important;
}

#alerts {
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    top: 70px;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#alertsBack {
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.error-message {
    color: #ab333f;
    text-align: right;
    margin: 5px;
}