/**
*
* Animation sidebar and content
*
*/

.contentDashboard {
    display: flex;
    margin-top: 50px;
}

.content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background: #FAFAFA;
    padding: 25px 0;
}

.sidebar {
    position: sticky;
    top: 50px;
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    color: #5E5E5E;
    box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    transition: all 140ms ease-in;
    -moz-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    -o-transition: all 140ms ease-in;
    z-index: 25;
}

.toggleSidebar {
    position: absolute;
    right: -30px;
    top: 0px;
    z-index: 10;
    background: #ffffff;
    padding: 5px 10px;
    box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.05);
    transition: all 140ms ease-in;
    -moz-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    -o-transition: all 140ms ease-in;
    cursor: pointer;
    opacity: 1;
}

.showSidebar {
    margin-left: 0;
}

.hideSidebar {
    margin-left: -250px;
}

@media screen and (max-width: 1040px) {
    .showSidebar {
        margin-left: -250px;
    }

    .hideSidebar {
        margin-left: 0;
    }

    .toggleSidebar i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .hideSidebar .toggleSidebar i {
        transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        -moz-transform: rotate(0deg) !important;
        -o-transform: rotate(0deg) !important;
    }
}

.hideSidebar .toggleSidebar i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.sidebarHeader h3 {
    font-size: 14px;
    color: #5580e7;
    margin: 25px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebarContent {
    width: 100%;
    padding: 0px 15px;
}

.sidebarList {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.sidebarItem {
    margin: 5px 0;
}

.sidebarLink {
    padding: 10px 15px;
    display: block;
    position: relative;
}

.sidebarLink i {
    width: 30px;
    vertical-align: middle;
    font-size: 20px;
    text-align: left;
}

.sidebarLink.active, .sidebarLink.active:hover {
    color: #5580e5;
}

.sidebarLink:hover {
    color: #95ade8;
}

.hidden {
    visibility: hidden;
}

.tagAlert {
    position: absolute;
    right: 10px;
    width: 33px;
    font-size: 12px;
    padding-top: 3px;
    text-align: center;
    height: 22px;
    background: #fc6180;
    color: white;
    top: 9px;
    border-radius: 5px;
}