.footer {
    background-color: #FCFCFC;
    box-shadow: 0 -1px 7px 1px rgba(0,0,0,0.07);
    padding: 15px;
}

.footer input {
    border: none;
    padding: 8px 19px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    color: #5E5E5E;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 80%;
}

.footer input::placeholder {
    color: #a3a3a3;
}

.footer input:active {
    outline: 0 !important;
}
.footer input:focus {
    outline: 0 !important;
}

.footer .inputRightIcon {
    cursor: pointer;
    background: #5580e7;
    color: #fff;
    width: 38px;
    height: 38px;
    border: none;
    left: -4px;
    top: -1px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.footer-container {
    align-items: center;
}
.footer-left p {
    margin: 0;
    color: #BBBBBB;
    font-size: 14px;
}
.footer-center form {
    margin-top: 5px;
}
.footer-right a {
    color: #BBBBBB;
    margin-left: 30px;
    font-size: 14px;
}
@media screen and (max-width:768px){
    .footer-left {
        text-align: center;
    }
    .footer-center {
        text-align: center;
        margin-top: 15px;
    }
    .footer-right {
        margin-top: 15px;
        text-align: center;
    }
}