.footer {
    background-color: #FCFCFC;
    box-shadow: 0 -1px 7px 1px rgba(0,0,0,0.07);
    padding: 20px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerContent p, .footerContent a {
    margin: 0;
    color: #BBBBBB;
}

.footerContent a:hover {
    text-decoration: underline;
}

.footerContent .leftSide, .footerContent .rightSide {
    display: flex;
    align-items: inherit;
}

.footerContent .leftSide p, .footerContent .leftSide button, .footerContent .rightSide a {
    margin: 0 15px;
}

@media screen and (max-width: 800px) {

    .footerContent {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footerContent .leftSide, .footerContent .rightSide {
        display: flex;
        flex-direction: column;
    }

    .footerContent .leftSide p, .footerContent .leftSide button {
        margin: 10px 0;
    }

    .footerContent .rightSide a {
        margin: 10px 0;
        display: inline-block;
    }
}