.loadScroll {
    text-align: center;
    margin: 20px 0;
}

/**
Buttons and actions
 */

input::placeholder, textarea::placeholder {
    color: #b5b5b5 !important;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: initial;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.rowActions {
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 670px) {
    .rowActions .buttonActionLg {
        display: block !important;
        width: max-content !important;
        margin: 10px 0 10px auto !important;
    }

    .rowActions .applyActions {
        display:block;
    }
}

p .buttonActionLg {
    line-height: 1.6 !important;
}

.truncateText {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 670px) {
    .truncateText {
        margin-left: auto;
    }
}

.offerActions {
    display: inline-block;
}

.offerStatus {
    float: right;
}

@media screen and (max-width: 670px) {
    .offerStatus {
        float:none;
        display: block;
        margin: 5px 0;
    }
}

/**
Box effect
 */

.boxEffect {
    transition: all 140ms ease-in;
    -moz-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.09);
    background: #FCFCFC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 25px;
    width: 100%;
}

.boxTitle {
    font-size: 18px;
    color: #5580e7;
    margin: 10px 0;
}

.boxTitleBlack {
    font-size: 18px;
    color: #5E5E5E;
    margin: 10px 0;
}

.boxTitleLogo {
    display: flex;
    align-items: center;
}

.boxTitleLogo span {
    margin-left: 10px;
}

@media screen and (max-width: 670px) {
    .boxTitleLogo {
        flex-direction: column;
    }

    .boxTitleLogo span {
        margin: 10px 0 0 0;
    }

    .boxEffectContent {
        padding: 20px 10px;
    }
}

.boxEffectHeader {
    margin-bottom: 25px;
}

.boxEffectTitle {
    font-size: 18px;
    color: #5E5E5E;
    font-weight: 600;
    margin: 0;
}

.boxEffectSubtitle {
    font-size: 14px;
    color: #5E5E5E;
    font-weight: 600;
    margin: 0 0 30px;
}

.boxEffectFooter {
    text-align: right;
    margin-top: 25px;
}

/**
Top Box
 */
.topBox {
    margin: 25px 0 15px;
}

.topBoxContent {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.topBoxContent .leftSide {
    flex-basis: 65%;
}

.topBoxContent .leftSide h3 {
    color: #5681E7;
    font-size: 24px;
}

.topBoxContent .leftSide p {
    color: #5E5E5E;
    font-size: 14px;
    margin: 0;
}

.topBoxContent .rightSide {
    min-width: 230px;
    flex-basis: 30%;
}

.topBoxContent .rightSide input, .topBoxContent .rightSide .inputRightIcon {
    display: inline-block;
}

.topBoxContent .rightSide input {
    border: none;
    padding: 8px 19px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    color: #5E5E5E;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 80%;
}

.topBoxContent .rightSide input::placeholder {
    color: #a3a3a3;
}

.topBoxContent .rightSide input:focus, .topBoxContent .rightSide input:active {
    outline: 0 !important;
}

.topBoxContent .rightSide .inputRightIcon {
    cursor: pointer;
    background: #5580e7;
    color: #fff;
    width: 38px;
    height: 38px;
    border: none;
    left: -4px;
    top: -1px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 670px) {
    .topBoxContent {
        flex-direction: column;
    }

    .topBoxContent .leftSide {
        flex-basis: 100%;
    }

    .topBoxContent .rightSide {
        margin: 25px 0;
        flex-basis: 100%;
    }
}

/**
Modal
 */


.modalContent {
    transition: all 140ms ease-in;
    -moz-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    -webkit-transition: all 140ms ease-in;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.12);
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
}

.modalBody {
    padding: 20px 25px;
}

@media screen and (max-width: 670px) {
    .modalBody {
        padding: 20px 10px;
    }
}

.modalBody .row {
    margin: 0 0 25px;
}

.modalHeader {
    padding: 15px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-bottom: 3px solid #fafafa;
}

.modalFooter {
    padding: 15px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-top: 3px solid #fafafa;
    text-align: right;
}

.modalHeader .close {
    font-size: 35px;
    font-weight: 400;
    color: #5580e5;
    cursor: pointer;
    opacity: 1;
    line-height: 0.6;
}

.modalHeader .close:active, .modalHeader .close:focus {
    outline: none;
}

.modalTitle {
    font-size: 18px;
    color: #5E5E5E;
    font-weight: 600;
    margin: 0;
}